 /* Allows large popins */
.large { width: 1000px }

/* Fixes help buttons question mark displaying too low */
.help-button {
    line-height: 19px;
}

.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 28px !important; width: 481px; display:block;margin:10px auto;}
.ui-sortable-placeholder * { visibility: hidden; }

.portfolio-popin td.portfolio-action {
    width: 45px;
}

.portfolio-media-edit > div {
    max-height: 25px;
}

.nestable-list {
    padding-top: 8px;
}

img.crud-column-media {
    max-width: 300px;
}

.template-row input[type="radio"] {
    display: none;
}

.block-row a {
    text-decoration: none;
}

.block-row input[type="radio"] {
    display: none;
}

.block-row input[type="radio"]:checked + img {
    border: 1px solid #438EB9;
}

.block-row input[type="radio"]+ img {
    margin-right: 10px;
}

.sidebar-row input[type="radio"] {
    display: none;
}

.sidebar-row input[type="radio"]:checked + img {
    border: 1px solid #438EB9;
}

.sidebar-row input[type="radio"]+ img {
    margin-right: 10px;
}

.widget-blocks {
    list-style: none;
}

.widget-sidebars {
    list-style: none;
}

.admin-create-block {
    font-size: 12px;
    margin-left: -10px;
}

.admin-edit-block {
    font-size: 15px;
    margin-right: 5px;
}

.admin-delete-block {
    font-size: 17px;
}

.panel-heading a {
    text-decoration: none;
}

.create-block {
    margin-left: 20px;
}

.clear {
    clear: both;
}

.form-errors {
    color: #FF0000;
}

.wrapper {
    height: 250px;
    overflow: hidden;
}
.carousel div {
    cursor: pointer;
    margin-right: -450px;
    float: left;
    position: relative;
    box-shadow: 0 0 10px #000;
}
.carousel div:last-child {
    cursor: default;
}
.carousel div span {
    background-color: #222;
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    width: 700px;
    height: 25px;
    padding: 20px 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
}

div.table-header div.action-buttons {
    margin-right: 10px;
}
.dd-handle .action-buttons,
.dd2-content .action-buttons {
    margin-top: -7px;
    margin-right: 10px;
}
.dd-handle,
.dd2-content {
    display: block;
    min-height: 38px;
    margin: 3px 0 0;
    padding: 16px 0 0 12px;
    background: #F8FAFF;
    border: 1px solid #DAE2EA;
    color: #7C9EB2;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dd-item,
.dd-empty,
.dd-placeholder {
    line-height: 5px;
}

/**
 * Form render
 */
.form-block input[type="text"], .form-block input[type="password"], .form-block input[type="number"], .form-block select, .form-block .input-group, .form-block .chosen-container, .form-block .item-template, .form-block .width-100 { width: 100% !important; }
.input-group-addon.no-style { border: none; padding: 0 10px; background: none; }
.select-popover .chosen-container { width: calc(100% - 50px) !important; }
.form-horizontal .width-100 { width: calc(100% - 50px) !important; }
.popover-addon { padding: 0 10px; }

.bigfoot-checkbox {
    margin-bottom: -15px;
}

.bigfoot-content-blocks {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bigfoot-link {
    margin-bottom: -15px;
}

.pull-center {
    margin: auto !important;
}

.form-horizontal input[type="text"] {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.form-horizontal .input-padding {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.form-horizontal .panel-nestable {
    height: 1px;
    width: 17%;
    float: left;
}

.form-horizontal .panel-default {
    width: 83%;
    float: right;
}