/web/*/compiled
/web/assetic/
/web/bundles/
/web/uploads/
/web/media/
/web/css/bigfoot*.css
/web/js/bigfoot*.js
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
.idea
.DS_Store
*/.DS_Store

# Grunt
/node_modules/
npm-*.log
