{% extends 'SandboxFrontBundle::layout.html.twig' %}

{% block content %}
    <div class="col-md-8 content">
        <div class="page">
            <h1>Sandbox Demo!</h1>

            <p class="lead">
                Test
            </p>
        </div>
    </div>

    <div class="col-md-4 sidebar">
        {% block sidebar %}
            {% include "SandboxFrontBundle:Front:sidebar.html.twig" %}
        {% endblock %}
    </div>
{% endblock %}