imports:
    - { resource: common.yml }
    - { resource: security.yml }
    - { resource: menu_security.yml }

assetic:
    bundles: [ BigfootCoreBundle ]

twig:
    form:
        resources:
            - 'BigfootCoreBundle:form:form_custom_layout.html.twig'
    globals:
        bigfoot_theme_values: %bigfoot.theme.values%
        theme: @bigfoot.theme

framework:
    router:
        resource: "%kernel.root_dir%/config/routing_admin.yml"

doctrine:
    orm:
        entity_managers:
            bigfoot:
                mappings:
                    BigfootUserBundle: ~
                    BigfootSeoBundle: ~
                    BigfootImportBundle: ~
                    BigfootMediaBundle: ~
                    BigfootNavigationBundle: ~