parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     phpci_bigfoot
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    bigfoot.theme.values: { logo: null, title: 'A sample site', subtitle: 'Bigfoot administration interface', provided_by: 'C2iS - Agence Digitale', copyright: 'Copyright © 2013' }
    bigfoot.theme.bundle: BigfootDefaultThemeBundle
    bigfoot.core.upload_dir: 'uploads/'
    bigfoot.media.portfolio_dir: 'portfolio/'

    available_languages: [ 'fr','en' ]
